<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Chat-Socket App</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="name" placeholder="Masukkan Nama Anda">
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>
